################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/*
AnalysisReport.sarif
upgrade-assistant.clef