################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BioCloneBot/FileContentIndex/3f2f2478-e047-4b01-8ee5-e66e35411c3b.vsidx
/.vs/BioCloneBot/FileContentIndex/420f4c98-de35-4c3c-b797-be550e6b15ad.vsidx
/.vs/BioCloneBot/FileContentIndex/85513895-a869-479d-95ea-5a4c22b8efd9.vsidx
/.vs/BioCloneBot/FileContentIndex/9c3fbfb8-ab94-4511-84fe-ba8d0f6909c8.vsidx
